<body>
    <div class="container-fluid" [formGroup]="fbFormGroup">
        <div class="row parent d-flex flex-column justify-content-center align-items-center border border-info p-5"
            style="border-radius:20px;">
            <h1>Set a new password</h1>

            <div class="col-12 mt-3">
                <input type="email" pattern="[a-z|0-9|@].{3,32}" id="email" class="form-control mb-2"
                    placeholder="Enter Email" style="font-size:20px;" formControlName="emailId">
                <!--<label for="email" style="color:white; font-size: small" *ngIf="
                  fbFormGroup.get('email').touched &&
                  fbFormGroup.get('email').required
                ">Email Required</label>-->
            </div>

            <div class="col-12">
                <input type="password" pattern="[A-Z|a-z](?=.*?[@]).{5,12}" id="password" class="form-control mb-2"
                    placeholder="Enter New password" style="font-size:20px;" formControlName="password">
                <!--<label for="password" style="color:white; font-size: small" *ngIf="
                  fbFormGroup.get('password').touched &&
                  fbFormGroup.get('password').required
                ">password Required</label>-->

            </div>
            <div class="col-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-success mb-4" routerLink="/login" (click)="changepass()">Change
                    password</button>
            </div>

            <div class="col-12 d-flex justify-content-center mb-2">

                <button class="btn btn-info btn-sm" (click)="gotoLogin('login')">Back to
                    Login</button>

            </div>
        </div>

    </div>
</body>