<div class="container-fluid">
    <div class="row bg-dark sticky-top align-items-center" style="height: 70px;">

        <div class="col-2 text-light" style="font-size:calc(30% + 1vw + 1vh);">
            Bachat-Gat
        </div>
        <div class="col-8"></div>
    
   
        <div class="col-1 text-light"  style="font-size:calc(30% + 0.6vw + 0.6vh)">
            <button (click)="logOut()" class="btn w-100 " style="font-size:  calc(25% +  1vw);color:whitesmoke;">Log out</button>     
        </div>
    
    </div>  
</div>
