<app-logout></app-logout>
<body>  
    <div class="container-fluid">
        <div class="row">
            <div class="col-4" >
                <div class="d-flex" id="wrapper">
                    <!-- Sidebar -->
                    <div class="bg-light border-right" id="sidebar-wrapper" style="background:url('/assets/leadBAck2.jpg'); height: 720px;">
                      <div class="sidebar-heading">Group Leader </div>
                      <div class="list-group list-group-flush">
                        <a class="btn btn-outline-dark  btn-lg m-2 mt-3" (click)="navigateToGatReg()" role="button"
                        rel="nofollow" target="_blank">Add Bachat-Gat</a>
                        <button class="btn btn-outline-dark btn-lg m-2 mt-3" (click)="navigateToMemberReg()" 
                        >Add Member</button>
                        <a class="btn btn-outline-dark btn-lg m-2 mt-3" (click)="navigateToMemberList()" target="_blank"
                        role="button">Member List</a>
                        <button class="btn btn-outline-dark btn-lg m-2 mt-3" (click)="navigateToAddProduct()" 
                        >Add Product</button>
                        <button class="btn btn-outline-dark btn-lg m-2 mt-3" (click)="navigateToProductList()" 
                        >Product List</button>
                      </div>
                    </div>
                    </div>
            </div>
            <div class="col-8">
                <div class="infinity-container">


                    <!-- FORM CONTAINER BEGIN -->
                    <div class="infinity-form-block">
                        <div class="infinity-click-box text-center"><strong>Add products</strong></div>
            
                        <div class="infinity-fold">
                            <div class="infinity-form" [formGroup]="fbFormGroup">
            
                                <!-- Input Box -->
                                <div class="form-input">
                                    <span><i class="fa fa-lock"></i></span>
                                    <input type="text" id="name" name="" placeholder="Product Name" formControlName="prodName">
                                </div>
                                <div class="form-input">
                                    <span><i class="fa fa-lock"></i></span>
                                    <input type="number" id="dob" name="" placeholder="Product Quantity" formControlName="prodQuantity">
                                </div>
                                <!-- Login Button -->
                                <div class="col-12 px-0 text-center">
                                    <button class="btn btn-sm btn-primary  btncss" [disabled]="!fbFormGroup.valid" routerLink="/login" style="color: black;"
                                    (click)="addProduct()">
                                    Add product
                                </button>
                                </div>
            
                                <div class="text-center text-sm"></div>
            
                                <div class="text-center">
            
                                </div>
            
                            </div>
                        </div>
                    </div>
                    <!-- FORM CONTAINER END -->
                </div>
                
            </div>
        </div>
    </div> 
</body>
<app-footer></app-footer>
