<app-logout></app-logout>
<body>

     
     
    <div class="row ml-2 align-items-center" style="height: 60px;"><strong>Group Leaders List</strong></div>
    <table class="table table-striped ml-4" style="width: 100%;">
        <thead>
            <tr>
                <th>leaderId</th>
                <th> leaderName</th>
                <th> leaderEmail </th>
                <th> leaderContactNumber</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lead of leaders">
                <td>{{lead.leaderId}}</td>
                <td>{{lead.leaderName}}</td>
                <td>{{lead.leaderEmail}}</td>
                <td>{{lead.leaderContactNumber}}</td>
    
                <td>
                    <button class="btn btn-success" style="margin-right: 10px" (click)="VerifyLeader(lead.leaderId)">
                        Approve</button>
                    <button class="btn btn-danger" style="margin-right: 10px">
                        Decline</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
<app-footer></app-footer>
