<body>  
    <div class="container-fluid">
        <div class="row">
            <div class="col-4" >
                <div class="d-flex" id="wrapper">
                    <!-- Sidebar -->
                    <div class="bg-light border-right" id="sidebar-wrapper" style="background:url('/assets/leadBAck2.jpg'); height: 720px;">
                      <div class="sidebar-heading">Group Leader </div>
                      <div class="list-group list-group-flush">
                        <a class="btn btn-outline-dark  btn-lg m-2 mt-3" (click)="navigateToGatReg()" role="button"
                        rel="nofollow" target="_blank">Add Bachat-Gat</a>
                        <button class="btn btn-outline-dark btn-lg m-2 mt-3" (click)="navigateToMemberReg()" 
                        >Add Member</button>
                        <a class="btn btn-outline-dark btn-lg m-2 mt-3" (click)="navigateToMemberList()" target="_blank"
                        role="button">Member List</a>
                        <button class="btn btn-outline-dark btn-lg m-2 mt-3" (click)="navigateToAddProduct()" 
                        >Add Product</button>
                        <button class="btn btn-outline-dark btn-lg m-2 mt-3" (click)="navigateToProductList()" 
                        >Product List</button>
                      </div>
                    </div>
                    </div>
            </div>
            <div class="col-6 ">
                <table class = "table table-striped mr-5">
                    <thead>
                        <tr>
                            <th> Product ID</th>
                            <th> Product Name </th>
                            <th> Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let prod of products" >
                            <td> {{ prod.prodId }} </td>
                            <td> {{ prod.prodName }} </td>
                            <td> {{  prod.prodQuantity }} </td>                
                        </tr>
                    </tbody>
                </table>
            
                
            </div>
        </div>
    </div> 
</body>
<app-footer></app-footer>

